On fait le site ici /src/BateauxBundle/Ressources/view/Default


<body>
<p>Locataire</p>

<p><a href="/show-bateau">Reserver un bateau</a></p>


Loueur
<a href="/creer-bateau">Creer un bateau</a>
<a href="/show-bateau">Voir les bateaux</a>
</body>