On fait le site ici /src/BateauxBundle/Ressources/view/Default


<body>

<p><a href="/location">Cote location</a></p>

<p><a href="/bateau">Cote bateau</a></p>

<p><a href="/client">Cote Client</a></p>
</body>